body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#mode-selection {
    margin-bottom: 20px;
}

#mode-selection label {
    font-size: 18px;
    cursor: pointer;
}

.big-board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
}

.small-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    border: 2px solid #333;
    background-color: #fff;
}

.small-board.active {
    border: 4px solid #ffcc00; /* Destaque para o tabuleiro ativo */
}

.cell {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #ddd;
    cursor: pointer;
}

.cell.X {
    color: red;
}

.cell.O {
    color: blue;
}

#message {
    font-weight: bold;
    margin-top: 20px;
}